@use "./mixin.scss" as mix;
@use './variables.scss' as var;
@use './media.scss';

@font-face {
    font-family: "" ;
    src: url();
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
